{% extends 'base.html' %}



{% block content %}

<div>
    <h1>Usuarios registrados</h1>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Tipo de usuario</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr>

            </tr>
        </tbody>
    </table>
</div>

<div>
    <a class="btn btn-success" href="{% url 'home'%}">Volver</a>
    <a class="btn btn-primary" href="{% url 'usersForm'%}">Crear usuario</a>
</div>

{% endblock content %}