{% extends 'base.html' %}


{% block content %}

<div>
    <div class="p-3">
        <h1>Añadir categoria</h1>
    </div>
    <form method="POST" class="d-flex flex-column align-items-center">
      {% csrf_token %}
        <div class="mb-3 w-50">
          <label for="inputName" class="form-label">Nombre</label>
          <input type="text" name="categorie_name" class="form-control" id="inputName" required>
        </div>
        {% if error %}
          <div class="alert alert-danger">{{error}}</div>
        {% endif %}
        <div class="text-center pt-4">
          <a class="btn btn-primary" href="{% url 'categories'%}">Volver</a>
          <button type="submit" class="btn btn-primary text-center">Agregar</button>
        </div>

      </form>

</div>


{% endblock content %}