{% extends 'base.html' %}



{% block content %}

<div>
    <h1>Inventario de productos</h1>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Categoria</th>
                <th>Fecha de elaboración</th>
                <th>Fecha de caducidad</th>
                <th>Stock</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {%for product in products%}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.category}}</td>
                <td>{{product.elabDate}}</td>
                <td>{{product.expDate}}</td>
                {% if product.stock < 5 %}<td class="text-danger fw-bold">{{product.stock}}</td> {% else %} <td class="text-success fw-bold">{{product.stock}}</td> {% endif %}
                <td>
                    <a class="btn btn-primary" href="{% url 'updateProducts' product.id %}">Editar</a>
                    <a class="btn btn-danger" href="{% url 'deleteProducts' product.id %}">Eliminar</a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

<div>
    <a class="btn btn-success" href="{% url 'home'%}">Volver</a>
    <a class="btn btn-primary" href="{% url 'createProducts'%}">Ingresar producto</a>
    <a class="btn btn-primary" href="{% url 'categories'%}">Agregar categoría</a>
</div>

{% endblock content %}