{% extends 'base.html' %}



{% block content %}

<div>
    <h1>Inventario de productos</h1>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Codigo/ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            <tr>

            </tr>
        </tbody>
    </table>
</div>

<div>
    <a class="btn btn-success" href="{% url 'home'%}">Volver</a>
    <a class="btn btn-primary" href="{% url 'productsForm'%}">Ingresar producto</a>
</div>

{% endblock content %}