{% extends 'base.html' %}


{% block content %}

<div>
    <form>
        <div class="mb-3">
          <label for="inputName" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="inputName">
        </div>
        <div class="mb-3">
          <label for="inputPrice" class="form-label">Precio</label>
          <input type="number" class="form-control" id="inputPrice">
        </div>
        <div class="mb-3">
          <label for="inputAmount" class="form-label">Cantidad</label>
          <input type="number" class="form-control" id="inputAmount">
        </div>
        
        <div class="text-center pt-4">
          <a class="btn btn-primary" href="{% url 'productsTable'%}">Volver</a>
          <button type="submit" class="btn btn-primary text-center">Ingresar</button>
        </div>

      </form>

</div>


{% endblock content %}