{% extends 'base.html' %}


{% block content %}

<div>
    <form method="POST">
      {% csrf_token %}
        <div class="mb-3">
          <label for="inputName" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="inputName" name="name" value="{{product.name}}">
        </div>
        <div class="mb-3">
          <label for="inputPrice" class="form-label">Precio</label>
          <input type="number" class="form-control" id="inputPrice" name="price" value="{{product.price}}">
        </div>
        <div class="mb-3">
          <label for="inputCategory" class="form-label">Categoria</label>
          <select class="form-select" name="category" id="" name="category">
          {%for category in categorys%}
            <option value="{{category.id}}">{{category.name}}</option>
          {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label for="inputElabDate" class="form-label">Fecha de elaboración</label>
          <input type="date" class="form-control" id="inputElabDate" name="elabDate" value="{{product.elabDate}}">
        </div>
        <div class="mb-3">
          <label for="inputExpDate" class="form-label">Fecha de caducidad</label>
          <input type="date" class="form-control" id="inputExpDate" name="expDate" value="{{product.expDate}}">
        </div>
        <div class="mb-3">
          <label for="inputStock" class="form-label">Stock</label>
          <input type="number" class="form-control" id="inputStock" name="stock" value="{{product.stock}}">
        </div>
        
        <div class="text-center pt-4">
          <a class="btn btn-primary" href="{% url 'productsTable'%}">Volver</a>
          <button type="submit" class="btn btn-primary text-center">Ingresar</button>
        </div>

      </form>

</div>


{% endblock content %}