{% extends 'base.html' %}


{% block content %}

<div>
    <form>
        <div>
            <label for="inputUserType" class="form-label">Seleccionar producto</label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Seleccione un producto</option>
              <option value="1">Ejemplo 1</option>
              <option value="2">Ejemplo 2</option>
            </select>
          </div>
        <div class="mb-3">
          <label for="inputLastName" class="form-label">Cantidad</label>
          <input type="number" class="form-control" id="inputLastName">
        </div>

        <div class="text-center pt-4">
          <a class="btn btn-primary" href="{% url 'salesTable'%}">Volver</a>
          <button type="submit" class="btn btn-primary text-center">Vender</button>
        </div>

      </form>

</div>


{% endblock content %}