{% extends 'base.html' %}



{% block content %}

<div>
    <h1>Ventas realizadas</h1>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Codigo/ID</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Fecha de venta</th>
                <th>Monto Neto</th>
                <th>I.V.A 19%</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for data in sales %}
                <tr>
                    <td>{{data.id}}</td>
                    <td>{{data.product.name}}</td>
                    <td>{{data.amount}}</td>
                    <td>{{data.saleDate}}</td>
                    <td>{{data.subtotal}}</td>
                    <td>{{data.iva}}</td>
                    <td>{{data.total}}</td>
                </tr>        
            {% endfor %}
        </tbody>
    </table>
</div>

<div>
    <a class="btn btn-success" href="{% url 'home'%}">Volver</a>
    <a class="btn btn-primary" href="{% url 'sell'%}">Registrar venta</a>
</div>

{% endblock content %}