{% extends 'base.html' %}


{% block content %}

<div>
    <form method="POST">
      {% csrf_token %}
        <div>
            <label for="inputUserType" class="form-label">Seleccionar producto</label>
            <select class="form-select" name="product_selected" aria-label="Select">
              <option selected value="-1">Seleccione un producto</option>
              {% for data in products %}
                <option value="{{data.id}}">{{data.name}} - {{data.stock}}</option>
              {% endfor %}
            </select>
          </div>
        <div class="mb-3">
          <label for="input_amount" class="form-label">Cantidad</label>
          <input type="number" name="product_quantity" class="form-control" id="input_amount">
        </div>

        <div class="text-center pt-4">
          <a class="btn btn-primary" href="{% url 'salesTable'%}">Volver</a>
          <button type="submit" class="btn btn-primary text-center">Vender</button>
        </div>

      </form>

</div>


{% endblock content %}