{%extends 'base.html'%}

{% block content %}

<div>
    <h1>Clientes registrados</h1>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Rut</th>
                <th>Telefono</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {%for client in clients%}
            <tr>
                <td>{{client.name}}</td>
                <td>{{client.lastname}}</td>
                <td>{{client.email}}</td>
                <td>{{client.rut}}</td>
                <td>{{client.phone}}</td>
                <td>
                    <a class="btn btn-primary" href="{%url 'updateClientContacts' client.id%}">Actualizar</a>
                    <a class="btn btn-danger" href="{%url 'deleteClientContacts' client.id %}">Eliminar</a>
                </td>
                
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

<div>
    <a class="btn btn-success" href="{%url 'home'%}">Volver</a>
    <a class="btn btn-primary" href="{%url 'createClientContacts'%}">Registrar cliente</a>
</div>


{% endblock content %} 