{% extends 'base.html' %}


{% block content %}

<div>
    <div class="p-3">
        <h1>Registra tu receta!</h1>
    </div>
    <form method="POST">
      {% csrf_token %}
        <div class="mb-3">
          <label for="inputName" class="form-label">Nombre</label>
          <input type="text" name="recipe_name" class="form-control" id="inputName">
        </div>
        <div class="mb-3">
          <label for="inputIngredients" class="form-label">Ingredientes</label>
          <input type="text" name="recipe_ingredients" class="form-control" id="inputIngredients" placeholder="Huevos, Manquetilla 100g, Azúcar 30g">
          <p class="text-warning fw-semibold"><span class="text-danger fw-bold">(*)</span> Separar los ingredientes con coma. Ej: (Huevos, Mantequilla, Azúcar)</p>
        </div>
        <div class="mb-3">
          <label for="input_description" class="form-label">Descripción breve</label>
          <input type="text" name="recipe_description" class="form-control" id="input_description">
        </div>
        <div class="mb-3">
          <label for="url_img" class="form-label">URL (imagen referencial)</label>
          <input type="text" name="url_img" class="form-control" id="url_img">
        </div>
        <div class="mb-3">
          <label for="inputIngredients" class="form-label">Preparación</label>
          <textarea class="form-control" name="recipe_preparation" rows="8"></textarea>
        </div>
        

        <div class="text-center pt-4">
          <a class="btn btn-primary" href="{% url 'recipes'%}">Volver</a>
          <button type="submit" class="btn btn-primary text-center">Registrar</button>
        </div>

      </form>

</div>


{% endblock content %}