{% extends 'base.html' %}


{% block content %}

<div>
    <div class="p-3">
        <h1>Registra tu receta!</h1>
    </div>
    <form>
        <div class="mb-3">
          <label for="inputName" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="inputName">
        </div>
        <div class="mb-3">
          <label for="inputIngredients" class="form-label">Ingredientes</label>
          <input type="text" class="form-control" id="inputIngredients">
        </div>
        <div class="mb-3">
          <label for="inputIngredients" class="form-label">Preparación</label>
          <textarea class="form-control" rows="8"></textarea>
        </div>
        

        <div class="text-center pt-4">
          <a class="btn btn-primary" href="{% url 'recipes'%}">Volver</a>
          <button type="submit" class="btn btn-primary text-center">Registrar</button>
        </div>

      </form>

</div>


{% endblock content %}