{% extends 'base.html' %}


{% block content %}

<div>
    <h1>Calcular mi precio de venta</h1>
</div>

<div>
    <form id="precioVentaForm" method="POST">
        {% csrf_token %}
        <label class="form-label" for="materiaPrima">Costo de Materia Prima:</label>
        <input class="form-control" type="number" id="rawMaterial" name="raw_material" step="any" required>

        <label class="form-label" for="manoDeObra">Costo de Mano de Obra:</label>
        <input class="form-control" type="number" id="labour" name="labour" step="any" required>

        <label class="form-label" for="costosIndirectos">Costos Indirectos:</label>
        <input class="form-control" type="number" id="costosIndirectos" name="indirect_costs" step="any" required>

        <label class="form-label" for="gastosOperativos">Gastos Operativos:</label>
        <input class="form-control" type="number" id="gastosOperativos" name="indirect_expenses" step="any" required>

        
        <label class="form-label" for="gastosOperativos">Margen de utilidad (%):</label>
        <input class="form-control" type="number" id="gastosOperativos" name="utility_margin" step="aby" required>


        <div>
            <button type="submit" class="btn btn-primary text-center mt-4">Calcular</button>
        </div>
    </form>

</div>


    {% if price_sale %}

        <div class="mt-5 w-100 d-flex justify-content-center">
            <div class="alert alert-success d-flex flex-column justify-content-center align-items-center">
                <h6 class="fw-bold">¡Listo!</h6>
                <p>Aquí tienes tu costo de venta: ${{price_sale}}</p>
            </div>
        
        </div>
    
    {% endif %}


{% endblock content %}